<div class="row">
	
	<div class="span12">
		<div class="row-fluid">
			<div class="span6">
				<h2><a href="#" id="informar_salario" class="btn btn-success">Colabore Também: Informe seu salário</a></h2>		
			</div>
			<div class="span6 right">
				<div class="fb-like" data-href="http://ruby-salary.heroku.com" data-send="true" data-layout="button_count" 
					 data-width="150" data-show-faces="false" style="position: relative; top: -3px">
				</div>
			    <a href="https://twitter.com/share" class="twitter-share-button" data-via="vquaiato">Tweet</a>
			</div>
		</div>
	</div>								
	
	
	
	<div class="span12">
		<hr>
		<div id="salarios">  	
			<%= render "salaries/list" %>  	
		</div>		
	</div>
</div>


<%= render "form", salario: @salario %>
